*~
*.sh~
.gitignore~
.gitignore.swp
combined.pem
key.pem
index.html
wildfly-custom/customization/commands.cli.org

#directories
nginx-certs
nginx-html
nginx-logs

mysql_nf-datadir
mysql_media-datadir

srv/data/media_files/
srv/deployments/*.war
srv/deployments/*.war.failed
srv/deployments/*.war.deployed
srv/deployments/*.war.undeployed
srv/data/*.tgz
srv/data/*.sql
srv/data/*.sql.old

mysql_nf-autoload/*.sql

.Rhistory
maps.tar.gz
srv/log/naturalist-web.log
wait-for-it.sh
wildfly-custom/naturalist_mediaserver.war
wildfly-custom/wait-for-it.sh

certs/**
