*~
*.sh~
.gitignore~
.gitignore.swp
combined.pem
key.pem
index.html


#directories
nginx-certs
nginx-html
nginx-logs

mysql_nf-datadir
srv/deployments/naturalist.war.failed
srv/deployments/naturalist.war.deployed
srv/data/nf-mediafiles.tgz
srv/data/test_nf-mediafiles.tgz
srv/data/taxonpages_v2.sql.old
mysql_nf-autoload/taxonpages_v2.sql
srv/deployments/naturalist.war
